@use "../../styles//partials/variables" as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.0625rem;
  padding-bottom: 1.9375rem;
  padding-top: 12rem;
  &__top {
    padding-top: 1.3125rem;
    padding-bottom: 0.9375rem;
  }

  &__star {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.125rem;

    > h2 {
      color: $primary-color;
      font-weight: bold;
      font-family: "inter";
    }

    &-balance {
      font-size: 0.75rem;
      color: $primary-color;
      font-family: "Archivo";
    }
  }

  &__bar {
    width: 22.3125rem;
    height: 4rem;
    > p {
      color: green;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.3125rem;
    gap: 1.1875rem;
    font-family: "inter";

    &-left {
      border: 2px solid $primary-color;
      border-radius: 20px;
      padding: 0.5rem 1.25rem;
      color: $primary-color;
    }

    &-right {
      background-color: rgba($color: $primary-color, $alpha: 0.7);
      border-radius: 20px;
      padding: 0.5rem 1.25rem;
      color: white;
    }
  }
}
