@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Archivo);
@import url(https://fonts.googleapis.com/css?family=Inter);


* {
    box-sizing: border-box;
    margin:0%;
}

.app {
    width: 100%;
    // position: absolute;
}