@use "../../styles//partials/variables" as *;

.rewards-refer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 3rem;
  &__text {
    font-size: 1.25rem;
    font-family: "Archivo";
    font-size: 1rem;
    font-size: 1.2rem;
  }

  &__text-bottom {
    font-size: 0.876rem;
    font-family: "Archivo";
    font-weight: bold;
    padding-bottom: 16px;
  }
}

.rewards-refer__button {
  width: 6rem;
  height: 2.2rem;
  background-color: $primary-color;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.8rem;
  margin: 1rem 0rem 2rem 0rem;
  font-family: "inter";
  font-size: 13px;

  &__button-text {
    font-size: 0.875rem;
    font-family: "Archivo";
  }
}
